body {
  background-color: hsl(204, 43%, 93%);
  font-size: 14px;
  font-family: 'Karla', sans-serif;
}

span {
  color: white;
  font-size: 35px;
}

.jumbotron {
    background-color:transparent;
}

.container {
  width: 40rem;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  overflow: hidden;

}

.white-heading {
  color: white;
  font-size: 16px;
}

.main-heading {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 1.5rem;
}

.sub-heading {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  font-size: 16px;
}

.join-p{
  color: hsl(218, 22%, 67%);
}

.first-col {
  padding: 2rem;
}

.why-us {
  padding: 2rem;
  background-color: #42C9C3;
}

.month-subscription {
  background-color: hsl(179, 62%, 43%);
  padding: 2rem;
}

.month {
  display: inline-block;
}

.month-why-p {
  color: white;
  font-weight:lighter;
  font-size: 13px;
}

.access {
  color: white;
  font-size: 16px;
}

.btn{
  background-color:hsl(71, 73%, 54%);
}
